body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

.mac {
  font-family: PingFang SC,Microsoft Yahei,Helvetica,Aria !important;
}

.win {
  font-family: Microsoft Yahei,Helvetica,Aria !important;
}

p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  -webkit-touch-callout: none;
  text-decoration: none;
}

.page-wrapper-padding {
  padding: 20px 24px;
}

.ag-strong,
.ag-normal {
  font-style: normal;
  color: #313238;

  &.default {
    color: #979ba5;
  }

  &.primary {
    color: #3a84ff;
  }

  &.success {
    color: #2dcb56;
  }

  &.danger {
    color: #ea3636;
  }

  &.warning {
    color: #ff9c01;
  }
}

.ag-tag {
  display: inline-block;
  background: #f0f1f5;
  color: #63656e;
  font-size: 12px;
  vertical-align: middle;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
  white-space: nowrap;
  padding: 0 4px;
  height: 20px;
  line-height: 20px;
  font-weight: 400;

  &.danger,
  &.delete {
    background-color: #fedddc;
    color: #ea3536;
  }

  &.primary,
  &.post {
    background-color: #e1ecff;
    color: #3a84ff;
  }

  &.success,
  &.any {
    background-color: #dcffe2;
    color: #2dcb56;
  }

  &.warning,
  &.put {
    background-color: #ffe8c3;
    color: #fe9c00;
  }

  &.get {
    background-color: #d7feff;
    color: #25a9ad;
  }

  &.patch {
    background-color: #dad6fd;
    color: #5949e1;
  }
}

.ag-dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background: #c4c6cc;
  border-radius: 50%;

  &.default {
    background: #f0f1f5;
    border: 1px solid #c9cad2;
  }

  &.primary,
  &.releasing,
  &.pending {
    background: #f0f1f5;
    border: 1px solid #c9cad2;
  }

  &.success {
    background: #e5f6ea;
    border: 1px solid #3fc06d;
  }
}
