// 处理升级组件库后兼容bkui组件样式
.bk-table {
  .bk-table-body {
    &.is-bk-scrollbar {
      overflow-y: auto !important;
      /* 兼容table滚动条异常 */
      .bk__rail-x,
      .bk__rail-y {
        top: unset !important;
      }
      .bk__thumb-y {
        display: none;
      }
    }
  }

 .bk-table-footer {
    background: #ffffff;
  }

  .bk-exception-part {
    .bk-exception-img {
      width: 100%;
    }
  }

  &.bordered-outer {
    .bk-table-body {
      .bk-exception {
        padding-bottom: 20px;
        border-bottom: 1px solid #dcdee5;
      }
    }
  }
}

.bk-sideslider {
  .bk-modal-footer {
    &.is-fixed {
      .bk-sideslider-footer {
        height: 54px !important;
        border-top: 1px solid transparent !important;
        background-color: #ffffff !important;
        box-shadow: rgba(0, 0, 0, 0.05882) 0 -2px 4px;
      }
    }
  }
}


