[importlinter]
root_package = apigateway
include_external_packages = True

[importlinter:contract:layers-apps-biz-core]
name=apps biz core
type=layers
layers =
    apigateway.apis : apigateway.apps
    apigateway.biz
    apigateway.core
    apigateway.controller
    apigateway.common
    apigateway.components
    apigateway.utils
ignore_imports =
    # 可信的依赖
    apigateway.apis.** -> apigateway.apps.**.models
    apigateway.biz.** -> apigateway.apps.**.models
    apigateway.controller.** -> apigateway.apps.**.models
    apigateway.common.** -> apigateway.apps.**.models
    apigateway.controller.** -> apigateway.core.models
    apigateway.common.** -> apigateway.core.models
    apigateway.biz.** -> apigateway.apps.**.constants
    apigateway.controller.** -> apigateway.apps.**.constants
    apigateway.common.** -> apigateway.apps.**.constants
    apigateway.controller.** -> apigateway.core.constants
    apigateway.common.** -> apigateway.core.constants
    apigateway.components.* -> apigateway.common.error_codes
    apigateway.components.* -> apigateway.common.tenant.*
    # 可忽略的依赖
    apigateway.core.management.commands.* -> apigateway.biz.**
    # 需要重构的依赖
    apigateway.biz.esb.permissions -> apigateway.apps.esb.helpers
    apigateway.biz.esb.permissions -> apigateway.apps.esb.utils
    apigateway.controller.crds.release_data.release_data -> apigateway.biz.gateway_jwt
    apigateway.common.audit.shortcuts -> apigateway.apps.audit.signals
