amqp==5.2.0 ; python_version >= "3.11" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
apigw-manager==3.1.1 ; python_version >= "3.11" and python_version < "3.12"
arrow==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.12"
asttokens==2.4.1 ; python_version >= "3.11" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version < "3.11.3"
attrs==24.2.0 ; python_version >= "3.11" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "3.12"
billiard==4.2.1 ; python_version >= "3.11" and python_version < "3.12"
bk-crypto-python-sdk==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
bk-notice-sdk==1.3.2 ; python_version >= "3.11" and python_version < "3.12"
bkapi-bcs-api-gateway==1.12.1 ; python_version >= "3.11" and python_version < "3.12"
bkapi-bk-apigateway==1.0.11 ; python_version >= "3.11" and python_version < "3.12"
bkapi-client-core==1.2.0 ; python_version >= "3.11" and python_version < "3.12"
bkapi-client-generator==0.1.30 ; python_version >= "3.11" and python_version < "3.12"
bkapi-component-open==1.1.0 ; python_version >= "3.11" and python_version < "3.12"
bkapi-paasv3==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
bkpaas-auth==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
blue-krill==2.0.7 ; python_version >= "3.11" and python_version < "3.12"
cachetools==5.5.0 ; python_version >= "3.11" and python_version < "3.12"
celery==5.4.0 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.8.30 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "3.12"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
chardet==5.2.0 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
click-didyoumean==0.3.1 ; python_version >= "3.11" and python_version < "3.12"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "3.12"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12"
concurrent-log-handler==0.9.25 ; python_version >= "3.11" and python_version < "3.12"
coverage==7.6.4 ; python_version >= "3.11" and python_version < "3.12"
coverage[toml]==7.6.4 ; python_version >= "3.11" and python_version < "3.12"
cron-descriptor==1.4.5 ; python_version >= "3.11" and python_version < "3.12"
cryptography==43.0.3 ; python_version >= "3.11" and python_version < "3.12"
curlify==2.2.1 ; python_version >= "3.11" and python_version < "3.12"
dacite==1.8.1 ; python_version >= "3.11" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.11" and python_version < "3.12"
distlib==0.3.9 ; python_version >= "3.11" and python_version < "3.12"
django-add-default-value==0.10.0 ; python_version >= "3.11" and python_version < "3.12"
django-celery-beat==2.7.0 ; python_version >= "3.11" and python_version < "3.12"
django-cors-headers==4.5.0 ; python_version >= "3.11" and python_version < "3.12"
django-dynamic-fixture==4.0.1 ; python_version >= "3.11" and python_version < "3.12"
django-environ==0.11.2 ; python_version >= "3.11" and python_version < "3.12"
django-filter==24.3 ; python_version >= "3.11" and python_version < "3.12"
django-nose==1.4.7 ; python_version >= "3.11" and python_version < "3.12"
django-prometheus==2.3.1 ; python_version >= "3.11" and python_version < "3.12"
django-timezone-field==7.0 ; python_version >= "3.11" and python_version < "3.12"
django==4.2.16 ; python_version >= "3.11" and python_version < "3.12"
djangorestframework==3.15.2 ; python_version >= "3.11" and python_version < "3.12"
docutils==0.21.2 ; python_version >= "3.11" and python_version < "3.12"
drf-yasg==1.21.8 ; python_version >= "3.11" and python_version < "3.12"
elasticsearch-dsl==7.4.1 ; python_version >= "3.11" and python_version < "3.12"
elasticsearch==7.7.1 ; python_version >= "3.11" and python_version < "3.12"
etcd3==0.12.0 ; python_version >= "3.11" and python_version < "3.12"
execnet==2.1.1 ; python_version >= "3.11" and python_version < "3.12"
executing==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
faker==30.8.1 ; python_version >= "3.11" and python_version < "3.12"
fakeredis==2.26.1 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.16.1 ; python_version >= "3.11" and python_version < "3.12"
future==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
gevent==24.10.3 ; python_version >= "3.11" and python_version < "3.12"
googleapis-common-protos==1.59.1 ; python_version >= "3.11" and python_version < "3.12"
greenlet==3.1.1 ; python_version >= "3.11" and python_version < "3.12"
grimp==3.5 ; python_version >= "3.11" and python_version < "3.12"
grpcio==1.44.0 ; python_version >= "3.11" and python_version < "3.12"
gunicorn==23.0.0 ; python_version >= "3.11" and python_version < "3.12"
identify==2.6.1 ; python_version >= "3.11" and python_version < "3.12"
idna==3.10 ; python_version >= "3.11" and python_version < "3.12"
import-linter==2.1 ; python_version >= "3.11" and python_version < "3.12"
importlib-metadata==8.4.0 ; python_version >= "3.11" and python_version < "3.12"
inflection==0.5.1 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
ipython==8.29.0 ; python_version >= "3.11" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.12"
jsonfield==3.1.0 ; python_version >= "3.11" and python_version < "3.12"
jsonschema-path==0.3.3 ; python_version >= "3.11" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.11" and python_version < "3.12"
jsonschema==4.23.0 ; python_version >= "3.11" and python_version < "3.12"
kombu==5.4.2 ; python_version >= "3.11" and python_version < "3.12"
lazy-object-proxy==1.10.0 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "3.12"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
mypy==1.13.0 ; python_version >= "3.11" and python_version < "3.12"
nodeenv==1.9.1 ; python_version >= "3.11" and python_version < "3.12"
nose==1.3.7 ; python_version >= "3.11" and python_version < "3.12"
openapi-schema-validator==0.6.2 ; python_version >= "3.11" and python_version < "3.12"
openapi-spec-validator==0.7.1 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-api==1.27.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-jaeger-proto-grpc==1.21.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-jaeger-thrift==1.21.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-jaeger==1.21.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-common==1.27.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.27.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-http==1.27.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-exporter-otlp==1.27.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation-celery==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation-dbapi==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation-django==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation-logging==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation-redis==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation-requests==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation-wsgi==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-instrumentation==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-proto==1.27.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-sdk==1.27.0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-semantic-conventions==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
opentelemetry-util-http==0.48b0 ; python_version >= "3.11" and python_version < "3.12"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.12"
parso==0.8.4 ; python_version >= "3.11" and python_version < "3.12"
pathable==0.4.3 ; python_version >= "3.11" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==11.0.0 ; python_version >= "3.11" and python_version < "3.12"
platformdirs==4.3.6 ; python_version >= "3.11" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.11" and python_version < "3.12"
portalocker==2.10.1 ; python_version >= "3.11" and python_version < "3.12"
prance==23.6.21.0 ; python_version >= "3.11" and python_version < "3.12"
pre-commit==4.0.1 ; python_version >= "3.11" and python_version < "3.12"
prometheus-client==0.21.0 ; python_version >= "3.11" and python_version < "3.12"
prompt-toolkit==3.0.48 ; python_version >= "3.11" and python_version < "3.12"
protobuf==3.20.3 ; python_version >= "3.11" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.11" and python_version < "3.12"
py-cpuinfo==9.0.0 ; python_version >= "3.11" and python_version < "3.12"
py-openapi-schema-to-json-schema==0.0.3 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12"
pycryptodomex==3.21.0 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.23.4 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.9.2 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.12"
pyjwt==2.9.0 ; python_version >= "3.11" and python_version < "3.12"
pymysql==1.1.1 ; python_version >= "3.11" and python_version < "3.12"
pypi-simple==0.8.0 ; python_version >= "3.11" and python_version < "3.12"
pyproject-api==1.8.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-benchmark==4.0.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-cov==5.0.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-django==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-mock==3.14.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-pretty==1.2.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-xdist==3.6.1 ; python_version >= "3.11" and python_version < "3.12"
pytest==8.3.3 ; python_version >= "3.11" and python_version < "3.12"
python-crontab==3.2.0 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
python-editor==1.0.4 ; python_version >= "3.11" and python_version < "3.12"
python-json-logger==2.0.7 ; python_version >= "3.11" and python_version < "3.12"
python-redis-lock==4.0.0 ; python_version >= "3.11" and python_version < "3.12"
pytoolconfig[global]==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
pytz==2024.2 ; python_version >= "3.11" and python_version < "3.12"
pywin32==308 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "3.12"
raven==6.10.0 ; python_version >= "3.11" and python_version < "3.12"
redis==5.2.0 ; python_version >= "3.11" and python_version < "3.12"
referencing==0.35.1 ; python_version >= "3.11" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.12"
responses==0.25.3 ; python_version >= "3.11" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "3.12"
rich==13.9.3 ; python_version >= "3.11" and python_version < "3.12"
rope==1.13.0 ; python_version >= "3.11" and python_version < "3.12"
rpds-py==0.20.0 ; python_version >= "3.11" and python_version < "3.12"
ruamel-yaml-clib==0.2.12 ; platform_python_implementation == "CPython" and python_version < "3.12" and python_version >= "3.11"
ruamel-yaml==0.18.6 ; python_version >= "3.11" and python_version < "3.12"
ruff==0.7.1 ; python_version >= "3.11" and python_version < "3.12"
setuptools==75.3.0 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "3.12"
soupsieve==2.6 ; python_version >= "3.11" and python_version < "3.12"
sqlparse==0.5.1 ; python_version >= "3.11" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "3.12"
tenacity==9.0.0 ; python_version >= "3.11" and python_version < "3.12"
thrift==0.21.0 ; python_version >= "3.11" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
tongsuopy-crayon==1.0.2b6 ; python_version >= "3.11" and python_version < "3.12"
tox==4.23.2 ; python_version >= "3.11" and python_version < "3.12"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "3.12"
types-cachetools==5.5.0.20240820 ; python_version >= "3.11" and python_version < "3.12"
types-cffi==1.16.0.20240331 ; python_version >= "3.11" and python_version < "3.12"
types-docutils==0.21.0.20241005 ; python_version >= "3.11" and python_version < "3.12"
types-pymysql==1.1.0.20240524 ; python_version >= "3.11" and python_version < "3.12"
types-pyopenssl==24.1.0.20240722 ; python_version >= "3.11" and python_version < "3.12"
types-python-dateutil==2.9.0.20241003 ; python_version >= "3.11" and python_version < "3.12"
types-pytz==2024.2.0.20241003 ; python_version >= "3.11" and python_version < "3.12"
types-pyyaml==6.0.12.20240311 ; python_version >= "3.11" and python_version < "3.12"
types-redis==4.6.0.20241004 ; python_version >= "3.11" and python_version < "3.12"
types-requests==2.31.0.1 ; python_version >= "3.11" and python_version < "3.12"
types-setuptools==75.2.0.20241025 ; python_version >= "3.11" and python_version < "3.12"
types-urllib3==1.26.25.14 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "3.12"
uritemplate==4.1.1 ; python_version >= "3.11" and python_version < "3.12"
urllib3==1.26.20 ; python_version >= "3.11" and python_version < "3.12"
vine==5.1.0 ; python_version >= "3.11" and python_version < "3.12"
virtualenv==20.27.1 ; python_version >= "3.11" and python_version < "3.12"
watchdog==5.0.3 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.12"
werkzeug==3.0.6 ; python_version >= "3.11" and python_version < "3.12"
whitenoise==6.7.0 ; python_version >= "3.11" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
zipp==3.20.2 ; python_version >= "3.11" and python_version < "3.12"
zope-event==5.0 ; python_version >= "3.11" and python_version < "3.12"
zope-interface==7.1.1 ; python_version >= "3.11" and python_version < "3.12"
