/* stylelint-disable color-hex-case */
/* stylelint-disable indentation */
@import './variable.css';

html,
body {
    font-family: PingFang SC,Microsoft Yahei,Helvetica,Aria;
}

.mac {
    font-family: PingFang SC,Microsoft Yahei,Helvetica,Aria !important;
}

.win {
    font-family: Microsoft Yahei,Helvetica,Aria !important;
}

.ap-nodata {
    text-align: center;
    font-size: 12px;
    color: #63656e;
    padding: 60px 0;

    .bk-table-empty-icon {
        font-size: 35px;
        color: #c3cdd7;
    }

    &.fixed {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1000;
        transform: translate(0, -50%);
        color: #c3cdd7;
    }
}

.ag-tag {
    display: inline-block;
    background: #F0F1F5;
    color: #63656E;
    font-size: 12px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;
    white-space: nowrap;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
    font-weight: 400;

    &.danger,
    &.delete {
    	background-color: #FEDDDC;
    	color: #EA3536;
    }

    &.primary,
    &.post {
    	background-color: #E1ECFF;
    	color: #3A84FF;
    }

    &.success,
    &.any {
    	background-color: #DCFFE2;
    	color: #2DCB56;
    }

    &.warning,
    &.put {
    	background-color: #FFE8C3;
    	color: #FE9C00;
    }

    &.get {
        background-color: #D7FEFF;
        color: #25A9AD;
    }

    &.patch {
        background-color: #DAD6FD;
        color: #5949E1;
    }
}

.ag-tab-button {
    padding: 0 36px !important;
    &.is-selected {
        &:before {
            font-family: 'apigateway' !important;
            content: "\e147";
            display: inline-block;
            font-size: 16px;
            color: #fff;
            background: #2DCB56;
            border-radius: 50%;
            height: 16px;
            line-height: 16px;
            margin-right: 8px;
        }
    }
}

.ag-tip {
    color: #63656e;
    line-height: 16px;
    clear: both;
    font-weight: normal;
    font-size: 12px;
    font-weight: 400;
}

.ag-textarea {
    background: #313238;
    color: #C4C6CC !important;
    border-radius: 2px !important;
    border: none;
    resize: none !important;
    &.is-focused:not(.is-readonly) {
        border: none !important;
        box-shadow: none !important;
    }
    textarea {
        background: #313238;
        outline: none;
        border: none !important;
        min-height: 200px !important;
        padding: 10px !important;
        color: #FFF;
        height: auto;
        box-sizing: border-box;
        &:focus {
            background: #313238 !important;
            border: none;
            color: #FFF !important;
        }
    }
}

@media screen and (min-height: 500px) {
    .ag-textarea textarea {
        min-height: 250px !important;
    }
}

@media screen and (min-height: 800px) {
    .ag-textarea textarea {
        min-height: 450px !important;
    }
}

.ag-strong {
    font-weight: bold;
    font-style: normal;
    color: #313238;

    &.default {
        color: #979BA5;
    }

    &.primary {
        color: $primaryColor;
    }

    &.success {
        /* color: $successColor; */
        color: #2dcb56;
    }

    &.danger {
        /* color: $dangerColor; */
        color: #ea3636;
    }

    &.warning {
        /* color: $warningColor; */
        color: #ff9c01;
    }
}

.page-wrapper-padding {
    padding: 20px 24px;
}

.dot {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 2px;
    &.warning {
        border: 1px solid #FF9C01;
        background: #FFF3E1;
    }
    &.success {
        border: 1px solid #3FC06D;
        background: #E5F6EA;
    }
    &.failure {
        border: 1px solid #EA3636;
        background: #FFE6E6;
    }
}

.sideslider-close-back-dialog-cls {
    .bk-modal-close {
        display: none;
    }
}

.dialog-scroll-y {
    .bk-modal-content {
        overflow-y: auto;
    }
}
.bk-table {
    .__is-empty {
        .bk-table-body-content {
            border-bottom: none !important;
        }
    }
}
