.custom-header-column-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    .custom-filter-icon {
        position: relative;
        padding: 0 10px 0 6px;
        font-size: 12px;
        color: #c4c6cc;
        align-items: center;
        vertical-align: middle;
        cursor: pointer;
        &.is-open {
            color: #63656e;
        }
        &.is-active {
            color: #3a84ff;
        }
    }
}

.custom-filter-popover {
    padding: 0 !important;
    .custom-radio-filter-wrapper {
        max-height: 250px;
        list-style: none;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 4px;
            background-color: lighten(transparent, 80%);
        }
        &::-webkit-scrollbar-thumb {
            height: 5px;
            border-radius: 2px;
            background-color: #e6e9ea;
        }
        .custom-radio-filter-content {
            padding: 5px 0;
            margin: 0;
            .custom-radio-filter-item {
                padding: 0 10px;
                font-size: 12px;
                line-height: 26px;
                cursor: pointer;
                &:hover {
                    background-color: #f4f6fa;
                    color: #3a84ff;
                }
                &.is-selected {
                    background-color: #f4f6fa;
                    color: #3a84ff;
                }
            }
        }
    }
}
